@import url("../css/containerLogo/style.css");
@import url(../css/containerFormulario/style.css);
@import url(../../assets/css/formulario/style.css);
@import url(../../assets/css/formularioConteudo/style.css);
:root {
    --cor-branca: rgb(255, 255, 255);
    --cor-verde: rgb(1, 229, 155);
    --cor-azul:  #1877f2;
    --cor-de-fundo-logo: rgb(19, 20, 27);
    --cor-de-fundo-formulario: rgb(35, 36, 47);


    --fonte-principal: 'Metropolis', sans-serif;
}


body {
    font-family: var(--fonte-principal);
    letter-spacing: 0.01071em;
    line-height: 1.43;
}


.container-principal {
    display: flex;
    width: 100%;
    height: 100vh;
}


